# OPENED :jirihylmar Sun Jan 19 19:43:59 CEST 2025 major fuck-up mkdoc stopped rendering links, anything in [] is ignored. Needed to revert to version of Docker file.
# Core dependencies
Markdown==3.7
mkdocs==1.6.1
-e git+https://github.com/squidfunk/mkdocs-material.git@8.5.11#egg=mkdocs-material

# Extensions
markdown-lightbox @ git+https://github.com/aleksan4eg/markdown-lightbox.git@57cebe72578095849ef5f01720f6fa6d34162fda
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-git-revision-date-localized-plugin==1.3.0
mkdocs-include-markdown-plugin==7.0.0
mkdocs-print-site-plugin==2.6.0
mkdocstrings==0.27.0
mkdocs-bibtex==2.16.2
mkdocs-gen-files==0.5.0
pymdown-extensions==10.12
boto3